<h1>Listing shelves</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Currency</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelves.each do |shelf| %>
  <tr>
    <td><%= shelf.name %></td>
    <td><%= shelf.description %></td>
    <td><%= shelf.currency %></td>
    <td><%= shelf.language %></td>
    <td><%= link_to 'Show', store_shelf_path(@store, shelf) %></td>
    <% if @adminswitch %>
      <td><%= link_to 'Edit', edit_store_shelf_path(@store, shelf) %></td>
      <td><%= link_to 'Destroy', store_shelf_path(@store, shelf), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% content_for :admin_links do %>
  <%= link_to 'New Shelf', new_store_shelf_path %>
<% end %>
