<h1>Listing product_cores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
    <th>Price</th>
    <th>Sku</th>
    <th>Image</th>
    <th></th>
    <th></th>
  </tr>

<% @product_cores.each do |product_core| %>
  <tr>
    <td><%= product_core.name %></td>
    <td><%= product_core.description %></td>
    <td><%= product_core.active %></td>
    <td><%= product_core.price %></td>
    <td><%= product_core.sku %></td>
    <td><%= product_core.image %></td>
    <td><%= link_to 'Show', store_product_core_path(@storeid, product_core) %></td>
    <td><%= link_to 'New', new_store_product_core_path %>
    <td><%# link_to 'Edit', edit_product_core_path(product_core) %></td>
    <td><%# link_to 'Destroy', product_core, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Product core', new_product_core_path %>
