<h1>Listing product_cores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
    <th>Price</th>
    <th>Sku</th>
    <th>Image</th>
    <th></th>
    <th></th>
  </tr>

<% @product_cores.each do |product_core| %>
  <tr>
    <td><%= link_to product_core.name, store_product_core_path(@store, product_core) %></td>
    <td><%= product_core.description %></td>
    <td><%= product_core.active %></td>
    <td><%= product_core.price %></td>
    <td><%= product_core.sku %></td>
    <td><%= product_core.image %></td>
    <td><%= link_to 'Edit', edit_store_product_core_path(@store, product_core) %></td>
    <td><%= link_to 'Destroy', store_product_core_path(@store, product_core), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />    
<%= link_to 'New Product Core', new_store_product_core_path %>

