<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>
<p>
  <b>Description:</b>
  <%= @store.description %>
</p>
Products<br>
<% @productlist.each do |s| %>
	<%= link_to s.name, [@store, s] %><br>
	<% end %>

<br>

Shelves<br>
<% @shelflist.each do |s| %>
	<%= link_to s.name, [@store, s] %><br>
	<% end %>

<br>
<%= content_for :admin_links do %>
<%= link_to "Create some products", '/stores/' + @store.id.to_s + '/product_cores/new' %>

<%= link_to "New Shelf", '/stores/' + @store.id.to_s + '/shelves/new' %>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
<% end %>