<h1>Listing shelf_pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelf_pages.each do |shelf_page| %>
  <tr>
    <td><%= shelf_page.title %></td>
    <td><%= shelf_page.content %></td>
    <td><%= shelf_page.tags %></td>
    <td><%= link_to 'Show', shelf_shelf_page_path(@shelf, shelf_page) %></td>
    <td><%= link_to 'Edit', edit_shelf_shelf_page_path(@shelf, shelf_page) %></td>
    <td><%= link_to 'Destroy', shelf_shelf_page_path(@shelf, shelf_page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% content_for :admin_links do %>
  <%= link_to 'New Shelf page', new_shelf_shelf_page_path %>
<% end %>