<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @shelf_page.title %>
</p>

<p>
  <b>Content:</b>
  <%= @shelf_page.content %>
</p>

<p>
  <b>Tags:</b>
  <%= @shelf_page.tags %>
</p>


<%= link_to 'Edit', edit_shelf_page_path(@shelf_page) %> |
<%= link_to 'Back', shelf_pages_path %>
