<h1>Listing product_instances</h1>

<table>
  <tr>
    <th>Title</th>
    <th>SKU</th>
    <th>Description</th>
    <th>Image</th>
    <th>Active</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_instances.each do |product_instance| %>
  <tr>
    <td><%= ProductCore.find_by_sku(product_instance.sku).name %></td>
    <td><%= product_instance.sku %></td>
    <td><%= product_instance.description %></td>
    <td><%= product_instance.image %></td>
    <td><%= product_instance.active %></td>
    <td><%= product_instance.price %></td>
    <td><%= link_to 'Show', category_product_instance_path(@category, product_instance) %></td>
    <td><%= link_to 'Edit', edit_category_product_instance_path(@category, product_instance) %></td>
    <td><%= link_to 'Destroy', category_product_instance_path(@category, product_instance), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% content_for :admin_links do %>
  <%#  link_to 'New Product instance', new_category_product_instance_path(@category, @coreinfo) %>
<% end %>