<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @coreinfo.name %>
</p>

<p>
  <b>SKU: </b>
  <%= link_to @product_instance.sku, store_product_core_path(currentstore, @coreinfo) %>
</p>

<p>
  <b>Description:</b>
  <%= @product_instance.description %>
</p>

<p>
  <b>Image:</b>
  <%= @product_instance.image %>
</p>

<p>
  <b>Active:</b>
  <%= @product_instance.active %>
</p>

<p>
  <b>Price:</b>
  <%= @product_instance.price %>
</p>


<%= link_to 'Edit', edit_category_product_instance_path(@category, @product_instance) %> |
<%= link_to 'Back', category_product_instances_path %>
