<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @home.title %>
</p>

<p>
  <b>Body:</b>
  <%= @home.body %>
</p>

<% content_for :admin_links do %>
	<%= link_to 'Edit', edit_home_path(@home) %> |
	<%= link_to 'Back', homes_path %>
<% end %>