<h1>Listing categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= category.description %></td>
    <td><%= link_to 'Show', shelf_category_path(@shelf,category) %></td>
    <% if @adminswitch %>
      <td><%= link_to 'Edit', edit_shelf_category_path(@shelf,category) %></td>
      <td><%= link_to 'Destroy', shelf_category_path(@shelf, category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% content_for :admin_links do %>
  <%= link_to 'New Category', new_shelf_category_path %>
<% end %>
