<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>
<p>
  <b>Products In This Category:</b><br>

<% @category.product_instances.each do |p| %>
	<%= link_to ProductCore.find_by_sku(p.sku).name, category_product_instance_path(@category, p)%> <br>
<% end%>
</p>

<%= link_to 'Edit', edit_shelf_category_path(@category) %> |
<%= link_to 'Back', shelf_categories_path %>
<%= link_to 'Add products', store_product_cores_path(current_user.store_id) %>
