<!DOCTYPE html>
<html>
<head>
  <title>Shoppingcart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if user_signed_in? %>
	Welcome to your store, <%= current_user.email %> <br>
	<% if content_for?(:the_store) %>
		<%= yield :the_store %>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
